/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: MULTIQC {
        ext.args = { params.multiqc_title ? "--title \"${params.multiqc_title}\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: MOSDEPTH_GENOME {
        ext.args = '-n --fast-mode --by 200 --use-median --thresholds 0,10,30,100,500,1000'
        publishDir = [
            path: { "${params.outdir}/mosdepth/genome" },
            mode: params.publish_dir_mode,
            //pattern: "*.summary.txt",
        ]
    }

    withName: REPORT_PLOT_REGIONS_GENOME {
        ext.args = '--input_suffix .regions.bed.gz'
        //used as suffix in the program
        ext.prefix = { "chromosome_mosdepth" }
        publishDir = [
            path: { "${params.outdir}/report/plot" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,pdf}",
        ]
    }
    withName: COLLAPSE_PRIMERS {
        publishDir = [
            path: { "${params.outdir}/genome" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: params.save_reference,
        ]
    }

    withName: MOSDEPTH_AMPLICON {
        //ext.args = '--fast-mode --use-median --thresholds 0,1,10,50,100,500'
        // -F default is 1796
        ext.args = '-F 0 -n --fast-mode --use-median --thresholds 0,10,30,100,500,1000'
        publishDir = [
            path: { "${params.outdir}/mosdepth/amplicon" },
            mode: params.publish_dir_mode,
            //pattern: "*.summary.txt",
        ]
    }

    withName: REPORT_PLOT_REGIONS_AMPLICON {
        ext.args = '--input_suffix .regions.bed.gz'
        //used as suffix in the program
        ext.prefix = { "amplicon_mosdepth" }
        publishDir = [
            path: { "${params.outdir}/report/plot" },
            mode: params.publish_dir_mode,

        ]
    }
    withName: SAMTOOLS_COVERAGE {
        ext.args = '-d 0 -D -m -A'
        ext.prefix = { "${meta.id}.samtools_depth_plot" }
        publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: PARSE_SAMTOOLS_STATS {
         publishDir = [
            path: { "${params.outdir}/samtools" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        ]
    }
    withName: REPORT_STATS {
         publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
            enabled: false,
        ]
    }
    withName: CSVTK_CONCAT {
         publishDir = [
            path: { "${params.outdir}/report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename },

        ]
    }
}
